* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'SoDoSans-Regular' !important;
    /* overflow: hidden; */
}

/* ------------ Navigation section(Navbar) ------------- */

nav {
    box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
    padding: 0 !important;
}

.navbar-brand img {
    width: 51px;
}

.ft-1 {
    font-size: .875rem !important;
}
.ft-3 {
    font-size: 1.5rem !important;
}


.ft-b {
    font-family: 'SoDoSans-bold' !important;
}

.ft-sb {
    font-family: 'SoDoSans-SemiBold' !important;
}
.ft-sb-1 {
    font-family: 'SoDoSans-SemiBold' !important;
    font-weight: 600 !important;
}

.text-black {
    color: black !important;
}

.text-black a {
    color: black !important;
}

.bg-black {
    color: white !important;
    background-color: black;
}

.fa-location-dot {
    font-size: 1.28rem !important;
}

.btn-nav{
    padding: 5px 16px !important;
}
.btn-nav:hover{
    background-color: rgb(225, 225, 225)  !important;
}
.btn-hov-nav:hover{
    background-color: rgb(60, 60, 60)  !important;
}

.colo-gre-rac {
    color: #1e3932 !important;
}
.nav-left-font {
    font-family: 'SoDoSans-Bold' !important;
    font-size: .9rem !important;
    letter-spacing: 1px !important;
}

@media screen and (max-width:576px) {
    .navbar-brand img {
        width: 38px !important;
    }
}

/* ------------ Body sections ------------- */

section {
    margin-top: 30px;
}

.sec-1 {
    background-color: #c0e8a6;
}
.sec-2 {
    background-color: #c300bd;
}
.row {
    margin-right: 0 !important;
}
.col-12 {
    padding: 0 !important;
}
.head-1 {
    color: #1e3932 !important;
    font-size: 24px !important;
}
/* 
.text-p-width {
    max-width: 73% !important;
} */
.text-p-1 {
    font-size: 19px !important;
    line-height: 29px !important;
}

.btn-hov-b {
    padding: 5px 16px !important;
}
.btn-hov-b:hover{
    background-color: rgba(0, 0, 0, .12)  !important;
}

/* .img-pad {
    padding: 1px;
} */