@font-face {
    font-family:'SoDoSans-Bold';
    font-weight: bold;
    src: url("SoDoSans-Bold.woff") format("opentype");
}
@font-face {
    font-family:'SoDoSans-Regular';
    font-weight: normal;
    src: url("SoDoSans-Regular.woff") format("opentype");
}
@font-face {
    font-family:'SoDoSans-SemiBold';
    font-weight: 700;
    src: url("SoDoSans-SemiBold.woff") format("opentype");
}